@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}

* {
  padding: 0;
  margin: 0;
}

div,
span {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
}

html,
body,
main {
  height: 100%;
}

body {
  font-family: 'Silkscreen';
  color: #dff6f5;
  background-color: #333;
}

.excalibur-scale {
  /* transform from the top left of the element */
  transform-origin: 0 0;
  /* scale the ui */
  transform: scale(var(--pixel-conversion), var(--pixel-conversion));
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.absolute {
  position: absolute;
}

#player-healthbar-container {
  left: var(--pointer-x);
  top: var(--pointer-y);
}

.center {
  margin: 0 auto;
  left: 0;
  right: 0;
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.outline {
  -webkit-text-stroke: 2px black;
}

.fs-3 {
  font-size: 3em;
}

.w-100 {
  width: 100%;
}
