@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}

* {
  padding: 0;
  margin: 0;
}

div,
span {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
}

html,
body,
main {
  height: 100%;
}

body {
  font-family: 'Silkscreen';
  color: #dff6f5;
  background-color: #333;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.absolute {
  position: absolute;
}

#player-healthbar-container {
  left: var(--pointer-x);
  top: var(--pointer-y);
  width: var(--width);
  height: 10px;
  background-color: #f1f1f1;
}

#player-healthbar {
  height: 100%;
  width: var(--healthPercent);
}

.center {
  margin: 0 auto;
  left: 0;
  right: 0;
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.outline {
  paint-order: stroke fill;
}

.outline-03 {
  -webkit-text-stroke: 0.3vw black;
}

.outline-01 {
  -webkit-text-stroke: 0.1vw black;
}

.fs-3 {
  font-size: 3vw;
}

.fs-10 {
  font-size: 10vw;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.vcenter {
  display: grid;
  align-items: center;
}

.bg-red {
  background-color: red;
}

.red {
  color: red;
}

#xp-bar {
  top: 3.5vw;
  height: 15px;
  left: 0;
  right: 0;
  width: 90vw;
  margin: auto;
  background-color: #333;
  opacity: 80%;
  padding: 2px;
}

#xp-value {
  height: 100%;
  width: var(--percent, 0%);
  background-color: cadetblue;
}

#xp-label {
  height: 100%;
  width: 100%;
  line-height: 100%;
  color: #f1f1f1;
}
