@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}

* {
  padding: 0;
  margin: 0;
}

div,
span {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
}

#game {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

html,
body,
main {
  height: 100%;
}

body {
  font-family: 'Silkscreen';
  color: #dff6f5;
  background-color: #333;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.p-relative {
  position: relative;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.pe-none {
  pointer-events: none;
}

#player-healthbar-container {
  left: var(--pointer-x);
  top: var(--pointer-y);
  width: var(--width);
  height: 10px;
  background-color: #f1f1f1;
}

#player-healthbar {
  height: 100%;
  width: var(--healthPercent);
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.outline {
  paint-order: stroke fill;
}

.outline-03 {
  -webkit-text-stroke: 0.3vw black;
}

.outline-01 {
  -webkit-text-stroke: 0.1vw black;
}

.fs-3 {
  font-size: 3vw;
}

.fs-10 {
  font-size: 10vw;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.align-items-center {
  align-items: center;
}

.bg-red {
  background-color: red;
}

.red {
  color: red;
}

.z-100 {
  z-index: 100;
}

.t-50 {
  top: 50%;
}

.m-1vw {
  margin: 1vw;
}

.ml-2vw {
  margin-left: 2vw;
}

.mr-2vw {
  margin-right: 2vw;
}

.mt-5vw {
  margin-top: 5vw;
}

#xp-bar {
  top: 3.5vw;
  height: 15px;
  left: 0;
  right: 0;
  background-color: #333;
  opacity: 80%;
  padding: 2px;
}

#xp-value {
  height: 100%;
  width: var(--percent, 0%);
  background-color: cadetblue;
}

#xp-label {
  height: 100%;
  width: 100%;
  line-height: 100%;
  color: #f1f1f1;
}
