@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}

* {
  padding: 0;
  margin: 0;
}

div,
span {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  user-select: none !important;
}

#game {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#effects {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

html,
body,
main {
  height: 100%;
}

body {
  font-family: Silkscreen, sans-serif;
  color: #dff6f5;
  background-color: #333;
}

.transform-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.p-relative {
  position: relative;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.pe-none {
  pointer-events: none;
}

#player-healthbar-container {
  left: var(--pointer-x);
  top: var(--pointer-y);
  width: var(--width);
  height: 10px;
  background-color: #f1f1f1;
}

#player-healthbar {
  height: 100%;
  width: var(--healthPercent);
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.outline {
  paint-order: stroke fill;
}

.outline-03 {
  -webkit-text-stroke: 0.3vw black;
}

.outline-01 {
  -webkit-text-stroke: 0.1vw black;
}

.outline-15rem {
  -webkit-text-stroke: 0.15rem black;
}

.fs-3 {
  font-size: 3vw !important;
}

.fs-10 {
  font-size: 10vw !important;
}

.font-italic {
  font-style: italic;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.min-w-50 {
  min-width: 50%;
}

.h-100 {
  height: 100%;
}

.h-50 {
  height: 50%;
}

.min-h-50 {
  min-height: 50%;
}

.align-items-center {
  align-items: center;
}

.bg-red {
  background-color: red;
}

.failure {
  color: red;
}

.success {
  color: green;
}

.z-100 {
  z-index: 100;
}

.t-50 {
  top: 50%;
}

.m-auto {
  margin: auto;
}

.m-1vw {
  margin: 1vw;
}

.ml-2vw {
  margin-left: 2vw;
}

.mr-2vw {
  margin-right: 2vw;
}

.mt-5vw {
  margin-top: 5vw;
}

.mt-5px {
  margin-top: 5px;
}

.mt-15px {
  margin-top: 15px;
}

#xp-bar {
  top: 3.5vw;
  height: 15px;
  left: 0;
  right: 0;
  background-color: #333;
  opacity: 80%;
  padding: 2px;
}

#xp-value {
  height: 100%;
  width: var(--percent, 0%);
  background-color: cadetblue;
}

#xp-label {
  height: 100%;
  width: 100%;
  line-height: 100%;
  color: #f1f1f1;
}

.big-box {
  color: #fff;
  font-weight: 800;
  font-size: 1rem;
  font-family: Silkscreen, sans-serif;
  background-color: #404663;
  border: none;
  border-radius: 0.7rem;
  padding: 0.5rem 1rem;
  box-shadow:
    5px 5px 7px rgb(0 0 0 / 0.11),
    10px 10px 15px rgb(0 0 0 / 0.11),
    50px 50px 60px rgb(0 0 0 / 0.11);
}

.responsive-flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.small-box {
  background-color: #333;
  padding: 2vw;
  border: none;
  border-radius: 0.7rem;
  box-shadow:
    5px 5px 7px rgb(0 0 0 / 0.11),
    10px 10px 15px rgb(0 0 0 / 0.11),
    50px 50px 60px rgb(0 0 0 / 0.11);
}

.small-box-interactive:hover {
  background-color: #666;
}

.small-box-interactive:active {
  background-color: #999;
}

@media (max-width: 800px) {
  .responsive-flex-row {
    flex-direction: column;
  }
}

.btn {
  color: #fff;
  font-weight: 800;
  font-size: 2vh;
  font-family: Silkscreen, sans-serif;
  background-color: #404663;
  border: none;
  border-radius: 0.7rem;
  gap: 1rem;
  padding: 0.5rem 1rem;
  box-shadow:
    5px 5px 7px rgb(0 0 0 / 0.11),
    10px 10px 15px rgb(0 0 0 / 0.11),
    50px 50px 60px rgb(0 0 0 / 0.11);
}

.btn:hover {
  text-shadow:
    -2px -2px 0.5rem #000,
    2px -2px 0.5rem #000,
    -2px 2px 0.5rem #000,
    2px 2px 0.5rem #000;
}

.btn:active {
  transform: scale(0.9);
}

.rarity-common {
  color: #ffffff;
}
.rarity-uncommon {
  color: #1eff00;
}
.rarity-rare {
  color: #0070dd;
}
.rarity-epic {
  color: #a335ee;
}
.rarity-legendary {
  color: #ff8000;
}

.round-end-contents {
  display: flex;
  flex-flow: column;
}

.align-self-center {
  align-self: center;
}

.stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-self: center;
}

.character-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.3rem;
}

.character-select-container {
  width: 14rem;
}

@media (max-width: 800px) {
  .character-select-container {
    width: 9.6rem;
  }

  #character-select {
    width: 90%;
  }
}
