name: CI and deploy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.set-version.outputs.version }}

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        id: install
        run: |
          npm ci
        # npx playwright install

      - name: Build
        id: build
        run: npm run build

      - name: Lint
        id: lint
        run: npm run lint

      - name: Set Version
        id: set-version
        run: |
          echo "version=${GITHUB_REF/refs\/heads\//}-${{ github.sha }}" >> $GITHUB_OUTPUT

      #- name: Run tests
      #  id: tests
      #  run: npm run test

      # This will fail the workflow if either of the output directories are different
      # than expected.
      - name: Compare Directories
        id: diff
        run: |
          if [ ! -d dist/ ]; then
            echo "Expected dist/ directory does not exist.  See status below:"
            ls -la ./
            exit 1
          fi
          if [ "$(git diff --ignore-space-at-eol --text dist/ | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after build. See status below:"
            git diff --ignore-space-at-eol --text dist/
            exit 1
          fi
          if [ ! -d tests/ ]; then
            echo "Expected tests/ directory does not exist.  See status below:"
            ls -la ./
            exit 1
          fi
          if [ "$(git diff --ignore-space-at-eol --text tests/ | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after build. See status below:"
            git diff --ignore-space-at-eol --text tests/
            exit 1
          fi

      # If outdir was different than expected, upload the expected version as a
      # workflow artifact.
      - if: ${{ failure() && steps.diff.outcome == 'failure' }}
        name: Upload Artifact
        id: uploadResult
        uses: actions/upload-artifact@v4
        with:
          name: outdir-diff
          path: |
            dist/
            test/

  build-pages:
    name: Build GitHub Pages
    needs: ci
    if: github.ref == 'refs/heads/main' && success()
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        id: checkout
        uses: actions/checkout@v5

      - name: Setup Node
        id: setup-node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        id: install
        run: npm install

      - name: Build project
        id: build
        run: npm run build

      - name: Setup Pages
        id: setup-pages
        uses: actions/configure-pages@v5

      - name: Upload production-ready build files
        id: upload
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./dist

  deploy:
    name: GitHub Pages deploy
    needs: build-pages
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      pages: write
    if: github.ref == 'refs/heads/main' && success()

    steps:
      - name: Download artifact
        id: download
        uses: actions/download-artifact@v6
        with:
          path: ./dist

      - name: Deploy to GitHub Pages
        id: deploy-pages
        uses: actions/deploy-pages@v4

  itchio-deploy-html:
    name: Itch.io deploy web-playable version
    needs: ci
    runs-on: ubuntu-latest
    permissions:
      contents: read
    if: github.ref == 'refs/heads/main' && success()

    steps:
      - name: Checkout repo
        id: checkout
        uses: actions/checkout@v5

      - name: Setup Node
        id: setup-node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        id: install
        run: npm install

      - name: Build project
        id: build
        run: npm run build

      - name: Upload to itch.io
        uses: robpc/itchio-upload-action@v1
        with:
          path: dist
          project: parnic/gift-roundup
          channel: html
          version: ${{ needs.ci.outputs.version }}
          api-key: ${{ secrets.ITCHIO_API_KEY }}

  # publish-tauri:
  #   name: Tauri publish
  #   needs: ci
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       include:
  #         - platform: "macos-latest" # for Arm based macs (M1 and above).
  #           args: "--target aarch64-apple-darwin"
  #         - platform: "macos-latest" # for Intel based macs.
  #           args: "--target x86_64-apple-darwin"
  #         - platform: "ubuntu-22.04"
  #           args: ""
  #         - platform: "ubuntu-22.04-arm" # Only available in public repos.
  #           args: ""
  #         - platform: "windows-latest"
  #           args: ""
  #   runs-on: ${{ matrix.platform }}
  #   permissions:
  #     contents: read
  #   if: github.ref == 'refs/heads/main' && success()
  #   env:
  #     IS_LINUX: ${{ (matrix.platform == 'ubuntu-22.04' || matrix.platform == 'ubuntu-22.04-arm') && 'true' || 'false' }} # This must match the platform value defined above.
  #     IS_ARM: ${{ (matrix.platform == 'ubuntu-22.04-arm' || matrix.args == '--target aarch64-apple-darwin') && 'true' || 'false' }}
  #     IS_MAC: ${{ matrix.platform == 'macos-latest' && 'true' || 'false' }} # This must match the platform value defined above.
  #     IS_WINDOWS: ${{ matrix.platform == 'windows-latest' && 'true' || 'false' }} # This must match the platform value defined above.

  #   steps:
  #     - name: Checkout repo
  #       id: checkout
  #       uses: actions/checkout@v5

  #     - name: install dependencies (ubuntu only)
  #       if: ${{ env.IS_LINUX == 'true' }}
  #       run: |
  #         sudo apt-get update
  #         sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf xdg-utils

  #     - name: Setup Node
  #       id: setup-node
  #       uses: actions/setup-node@v6

  #     - name: Install Rust stable
  #       uses: dtolnay/rust-toolchain@stable
  #       with:
  #         # Those targets are only used on macos runners so it's in an `if` to slightly speed up windows and linux builds.
  #         targets: ${{ env.IS_MAC == 'true' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

  #     - name: Rust cache
  #       uses: swatinem/rust-cache@v2
  #       with:
  #         workspaces: "./src-tauri -> target"

  #     - name: Install dependencies
  #       id: install
  #       run: npm install

  #     - uses: tauri-apps/tauri-action@v0
  #       id: tauri-build
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #       with:
  #         #tagName: app-v__VERSION__ # the action automatically replaces __VERSION__ with the app version.
  #         #releaseName: 'App v__VERSION__'
  #         #releaseBody: 'See the assets to download this version and install.'
  #         #releaseDraft: true
  #         #prerelease: false
  #         appVersion: ${{ needs.ci.outputs.version }}
  #         args: ${{ matrix.args }}

  #     - name: Setup Go
  #       uses: actions/setup-go@v6
  #       with:
  #         go-version: stable

  #     - name: Download butler
  #       uses: actions/checkout@v5
  #       with:
  #         repository: itchio/butler
  #         path: .butler

  #     - name: Build butler
  #       run: |
  #         cd .butler
  #         go build
  #         cd ..

  #     - name: Upload build
  #       uses: ./.github/actions/itchio-upload
  #       with:
  #         butler: ./.butler/butler
  #         artifactPaths: ${{ steps.tauri-build.outputs.artifactPaths }}
  #         project: parnic/gift-roundup
  #         channel: ${{ matrix.platform }}
  #         version: ${{ needs.ci.outputs.version }}
  #         api_key: ${{ secrets.ITCHIO_API_KEY }}

  #     - name: Upload amd64 Linux .deb to itch.io
  #       if: env.IS_LINUX == 'true' && env.IS_ARM == 'false'
  #       uses: robpc/itchio-upload-action@v1
  #       with:
  #         path: src-tauri/target/release/bundle/deb/gift-roundup-tauri_${{ steps.tauri-build.outputs.appVersion }}_amd64.deb
  #         project: parnic/gift-roundup
  #         channel: ${{ matrix.platform }}-deb
  #         version: ${{ needs.ci.outputs.version }}
  #         api-key: ${{ secrets.ITCHIO_API_KEY }}
